<h1> Edit Job </h1>
<div class="pure-form pure-form-stacked">
<%= form_for @job do |f|%>
  <%= f.label :company %>
  <%= f.text_field :company %>
  
  <%= f.label :position %>
  <%= f.text_field :position %>
  
  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>

  <%= f.label :deadline %>
  <%= select_date Date.today, prefix: :deadline %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit "Edit Job" %>
<% end %>
</div>
